.page__home 
    .block-chapter--with-image
        .chapter
            flex-direction: row-reverse !important
            justify-content: space-between !important
            align-self: center !important
            margin-top: 10%
            margin-bottom: 5%


.page__home 
        .text
            width: px2rem(700)  !important
            margin: 2em
