.page__home 
    .block-chapter--with-image
        .chapter
            flex-direction: row-reverse !important
            justify-content: space-between !important
            align-self: center !important
            margin-top: 15%
            margin-bottom: 5%
         

.page__home 
        .text
            width: 80%  !important
            // margin: 2em 
            order: 0

.page__home    
    .block-key_figures
        .block-content
            margin-top: 10%
            margin-bottom: 10%

